.navbar {
    background-color:rgb(252, 0, 138);
}

.pulseButton {
    position: relative;
    border: 0 0 0 rgb(252, 0, 138);
    box-shadow: 0 0 0 rgb(252, 0, 138);
    margin-top: "350px";
    background-color:rgb(252, 0, 138);
    /* background-size:cover; */
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  }
  .pulseButton:hover 
  {
    -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
  }
  
  @-webkit-keyframes pulse {to {box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);}}
  @-moz-keyframes pulse {to {box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);}}
  @-ms-keyframes pulse {to {box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);}}
  @keyframes pulse {to {box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);}}